<div class="divImg mt-3"><img src="assets/jota.png" class="img"></div>
<h2 class="card-title text-center mt-3" id="titulo">Bolão finalizado com sucesso !</h2>
<br>
<h5 class="card-title text-center mt-3" id="titulo">Agora é só acompanhar a copa e torcer pelo seu palpite. Caso queira
  receber a tabela do seu palpite,
  envie uma mensagem no número <a href="https://api.whatsapp.com/send?phone=5563992014337"
    style="text-decoration: none;" target="_blank">(63) 9 9201-4337</a> com o nome que você se inscreveu.
</h5>
<br>
<h5 class="card-title text-center mt-3" id="titulo">Siga a Tribo no instagram pelo <a
    href="https://www.instagram.com/tribo.imep/?hl=pt-br" style="text-decoration: none;" target="_blank">@tribo.imep
  </a>acompanhar nossas
  programações.</h5>
<br>
<hr>
