<section class="h-100 mt-3 section mb-3">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body" style="background-color: #ffffff">

            <div *ngIf="siteAtivo">
             <app-form></app-form>
            </div>

            <div *ngIf="!siteAtivo">
              <app-aguarde></app-aguarde>
             </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
