
.card-wrapper {
  margin-top: 20px;
  width: 90%;
}

.card {
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.card .fat {
  padding: 10px;
}

.card .card-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 475px) {
  .card.fat {
    width: 100%;
  }
  .card-wrapper {
      width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .card .fat {
      padding: 0;
      width: 100%;
  }
  .card .fat .card-body {
      padding: 15px;
  }
}

@media screen and (max-width: 280px) {
  .card .fat {
      padding: 0;
      width: 100%;
  }
  .card .fat .card-body {
      padding: 15px;
  }
}

