<div class="divImg mt-3"><img src="assets/logo.jpg" class="img"></div>
<br>
<h5 class="card-title text-center mt-3" id="titulo">Hey, este site no momento se encontra inativo, mas fique ligado que
  em breve vamos dar início às atividades.</h5>
<br>
<h6 class="card-title text-center mt-3" id="titulo">Enquanto isso, siga a
  Tribo e o Soma no instagram pelo @tribo.imep e @soma.imep para acompanhar nossas programações.</h6>
<hr>
<div class="social-links mt-3 text-center">
  <a href="https://matheuspcouto.github.io/" target="_blank"><i class="fa fa-user"></i></a>
  <a href="https://www.instagram.com/matheuspcouto/?hl=pt-br" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://www.linkedin.com/in/matheuspcouto/" target="_blank"><i class="fa fa-linkedin"></i></a>
  <br><br> Desenvolvido por Matheus Pimentel Do Couto - 2022
</div>
